    h1{ 
        font-size: 65px; color:orange; font-family: sans-serif; text-decoration:solid
    }

    .coloryellow{ 
        background-color:pink
    }

     p {
          font-weight:600; font-size: 3em ; font-style: italic
        }

     body{
         font-size: 16px; line-height:1cm; text-align: justify
        }

     #amarelo{background-color: yellow;}
     #vermelho{background-color: red;}
     #marrom{background-color: brown;}